body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    border: 1px solid #ccc;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 50px;


}

.logo img {
    width: 100%;
    height: auto;

}



/* Logo and Navbar */
.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 1px;
    border-radius: 5px;
}

.nav-bar .nav-link {
    flex: 1;
    color: rgba(0, 0, 0, 0.918);
    font-size: 20px;
    font-weight: 800;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #339966;
    border-radius: 5px;
    margin: 0 1px;
    background-color: white;
    transition: background-color 0.5s ease;
}

.nav-bar .nav-link:hover {
    background-color: #339966;
    color: white;
}



/* Login Section */
.row {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-left: 4px;

}

.login-container {
    width: 30%;
}

.card {

    border: 1px solid #339966;
    border-top: 15px solid #339966;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
}

/* Header styles */
h3 {
    color: #339966;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}



/* Form input styles */
.form-group {
    margin-bottom: 10px;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    display: flex;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #339966;
    border-radius: 4px;
    font-size: 15px;

}



.btn-login {
    background-color: #339966;
    color: white;
    border: none;
    padding: 10px;
    width: 40%;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-left: 140px;
}

.btn-login:hover {
    background-color: #2e8b57;
}

/* Footer styles */
.login-footer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.login-footer img {
    width: 10vh;
    margin-right: 10px;
    height: 10vh;
}

.login-footer p {
    margin: 0;
    font-size: 25px;
}


/* Image Slider */
.image-sliders {
    width: 70%;
    padding-left: 15px;
    padding-right: 2px;
}

.image-sliders img {
    width: 100%;
    border-radius: 1px;
}